In [0]:
%sql
use catalog dev

In [0]:
%sql
describe extended sample.test

In [0]:
%sql
create or replace table employees (
  id INT,
  name STRING,
  department STRING
)
using delta;

INSERT INTO employees VALUES
  (1, 'Alice', 'Engineering'),
  (2, 'Bob', 'HR'),
  (3, 'Charlie', 'Engineering');

In [0]:
%sql
describe extended employees

In [0]:
DESCRIBE DETAIL employees;

In [0]:
%sql
-- Update Bob's department (creates version 2)
UPDATE employees
SET department = 'Human Resources'
WHERE name = 'Bob';

-- Insert a new employee (creates version 3)
INSERT INTO employees VALUES
  (4, 'David', 'Sales');

In [0]:
DESCRIBE HISTORY employees;

In [0]:
%sql
DESCRIBE DETAIL employees;

In [0]:
optimize employees zorder by (id)

In [0]:
ALTER TABLE employee SET spark.databricks.delta.retentionDurationCheck.enabled = false;

In [0]:
vacuum employees retain 0 hours;